/* @tailwind base; */
@tailwind components;
@tailwind utilities;

.customScrollBar {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  overflow-anchor: none;
}

.customScrollBar::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
}

.customScrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}

.customScrollBar::-webkit-scrollbar-thumb {
  @apply bg-primary/10 rounded-full;
}
.customScrollBar:hover::-webkit-scrollbar-thumb {
  @apply bg-primary;
}
